<!-- Street -->
<div class="form-group">
  <label for="inputStreet" class="col-sm-3 control-label">Street:</label>
  <div class="col-sm-5">
    <input class="form-control" id="inputStreet" [(ngModel)]='address.street' >
  </div>
</div>

<!-- City -->
<div class="form-group">
  <label for="inputCity" class="col-sm-3 control-label">City:</label>
  <div class="col-sm-5">
    <input class="form-control" id="inputCity" [(ngModel)]='address.city' >
  </div>
</div>

<!-- State -->
<div class="form-group">
  <label for="inputState" class="col-sm-3 control-label">State:</label>
  <div class="col-sm-5">
    <select  [(ngModel)]='address.state' class="form-control" id="inputState" >
      <option *ngFor="let state of states">{{state}}</option>
    </select>
  </div>
</div>

<!-- Region -->
<div class="form-group">
  <label for="inputRegion" class="col-sm-3 control-label">Region:</label>
  <div class="col-sm-5">
    <select  [(ngModel)]='address.region' class="form-control" id="inputRegion" >
      <option *ngFor="let region of regions">{{region}}</option>
    </select>
  </div>
</div>