<div class="container">
  <div class="jumbotron">
    <h1>Hello {{name}}<br>
      <small [hidden]='hideAdress' >From {{ city }}, {{ region }}</small>
    </h1>
  </div>

  <!-- Lesson 2: Exercise -->
  <div class="row">
    <button class="btn btn-default" (click)="addressClick()">Show/Hide Adress</button>
    <select (change)="regionChange($event.target.value)">
      <option>East</option>
      <option>North</option>
      <option>South</option>
      <option>West</option>
    </select>
  </div>
</div>
