<!-- Header of the page -->
<header class="jumbotron">
  <div class="container">
    <h1>{{pageTitle}}</h1>
    <p>{{pageDescription}}</p>
  </div>
</header>

<!-- Content of the page -->
<div class="container">
  <main class="">
    <!-- Hero List: By default no hero selected -->
    <!-- When we click a hero -> hero active and will show info -->
    <div class="row">
      <div class="list-group col-sm-4 col-sm-offset-3">
        <a class="list-group-item" *ngFor="let heroTmp of heroes"
          (click)="hero=heroTmp"
          [ngClass]="{active: hero === heroTmp}">{{heroTmp.name}}</a>
      </div>
    </div>

    <!-- Hero Form: Hidden if there is no hero selected  -->
    <div class="form-horizontal" *ngIf="hero">
      <!-- Name -->
      <div class="form-group">
        <label for="inputName" class="col-sm-3 control-label">Name: </label>
        <div class="col-sm-5">
          <input class="form-control" id="inputName" [(ngModel)]='hero.name' >
        </div>
      </div>

      <!-- Street -->
      <div class="form-group">
        <label for="inputStreet" class="col-sm-3 control-label">Street: </label>
        <div class="col-sm-5">
          <input class="form-control" id="inputStreet" [(ngModel)]='hero.address.street' >
        </div>
      </div>

      <!-- City -->
      <div class="form-group">
        <label for="inputCity" class="col-sm-3 control-label">City: </label>
        <div class="col-sm-5">
          <input class="form-control" id="inputCity" [(ngModel)]='hero.address.city' >
        </div>
      </div>

      <!-- State -->
      <div class="form-group">
        <label for="inputState" class="col-sm-3 control-label">State: </label>
        <div class="col-sm-5">
          <select  [(ngModel)]='hero.address.state' class="form-control" id="inputState" >
            <option *ngFor="let state of states">{{state}}</option>
          </select>
        </div>
      </div>

      <!-- Region -->
      <div class="form-group">
        <label for="inputRegion" class="col-sm-3 control-label">Region: </label>
        <div class="col-sm-5">
          <select  [(ngModel)]='hero.address.region' class="form-control" id="inputRegion" >
            <option *ngFor="let region of regions">{{region}}</option>
          </select>
        </div>
      </div>

      <!-- Checkbox Show/Hide Info -->
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
          <div class="checkbox">
            <label>
              <input type="checkbox"  [(ngModel)]='hideAdress'> Show Info
            </label>
          </div>
        </div>
      </div>

      <!-- Complete information -->
      <p *ngIf='hideAdress' class="text-center">
        <em>{{ hero.name }} is in {{ hero.address.street }} in 
          {{ hero.address.city }} 
          in the {{ hero.address.state }} state
          in the {{ hero.address.region }} region</em>
      </p>
    </div>
  </main>  
</div>